@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap');

body {
  margin: 0;
  line-height: 1.56;
}
.root {
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  padding: 1.5rem;
  background: #000;
  color: #cecece;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .tag-space {
    display: grid;
    grid-template-columns: 1fr 2fr;

    & > *:nth-child(even) {
      margin-left: 1rem;
    }
  }
}
